/*desiging the common body structure*/
body {
  background-color: #202123;
  color: #d3d3d3;
  margin: 0px;
  padding: 0px;
  font-family: "Maven Pro", sans-serif;
  padding-top: 50vh;
}

body a {
  text-decoration: none;
  color: #d3d3d3;
  font-size: 3.6vh;
  transition-duration: 0.5s;
}

body a:hover {
  color: #bb86fc;
  font-size: 3.1vh;
  cursor: pointer;
}

/******designing the heading********/
.main_starting_circle h1 {
  font-size: 4.8vh;
}

/*designing the heading tags*/
.animes {
  background-color: #111111;
  color: #d3d3d3;
  width: 14vw;
  height: 28vh;
  border-radius: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 18vh;
  margin-left: 22vw;
  position: relative;
  z-index: 1;
}

.movies {
  background-color: #111111;
  color: #d3d3d3;
  width: 14vw;
  height: 28vh;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -28vh;
  margin-left: 32vw;
}

.web_series {
  background-color: #111111;
  color: #d3d3d3;
  width: 14vw;
  height: 28vh;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -28vh;
  margin-left: 55vw;
}

.games_and_softwares {
  background-color: #111111;
  color: #d3d3d3;
  width: 14vw;
  height: 28vh;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -28vh;
  margin-left: 64vw;
  position: relative;
  z-index: 1;
}

.main_starting_circle {
  background-color: #111111;
  color: #d3d3d3;
  position: fixed;
  width: 18vw;
  height: 36vh;
  margin-left: 41%;
  margin-top: 10vh;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*designing the scrolling down stuff*/
.scroll_down_stuff {
  display: flex;
}

.scroll_anime {
  background-image: url("luffy_banner.png");
  background-size: 14vw 32vh;
  width: 14vw;
  height: 32vh;
  margin-left: 1vw;
  background-repeat: no-repeat;
  display: none;
  position: relative;
  z-index: 0;
}

.scroll_movies {
  background-image: url("leonardo.png");
  background-size: 14vw 32vh;
  background-repeat: no-repeat;
  width: 14vw;
  height: 32vh;
  margin-left: 20vw;
  display: none;
  position: relative;
  z-index: 0;
}

.scroll_web_series {
  background-image: url("thomas_shelby.png");
  background-size: 9.4vw 35vh;
  background-repeat: no-repeat;
  width: 30vw;
  height: 35vh;
  margin-left: 67vw;
  display: none;
  position: relative;
  z-index: 0;
}

.scroll_games_and_resources {
  background-repeat: no-repeat;
  background-image: url("jett.gif");
  background-size: 16.8vw 32vh;
  width: 16.9vw;
  height: 32vh;
  margin-left: 81vw;
  display: none;
  position: relative;
  z-index: 0;
}

/*scrolling animation class*/
.scroll_animation_1 {
  animation-name: scroll_bitch_down_1;
  animation-duration: 800ms;
}

.scroll_animation_2 {
  animation-name: scroll_bitch_down_2;
  animation-duration: 800ms;
}

.scroll_animation_3 {
  animation-name: scroll_bitch_down_3;
  animation-duration: 800ms;
}

/*show content boxes animation classes*/
.show_content_box_1_2 {
  animation-name: scroll_content1and2;
  animation-duration: 800ms;
}
.show_content_box_3_4 {
  animation-name: scroll_content3and4;
  animation-duration: 800ms;
}

/*button positioning*/
.scroll_anime button {
  margin-top: 32vh;
  margin-left: 4.5vw;
  width: 4.5vw;
  height: 4.5vh;
}

.scroll_movies button {
  margin-top: 12vh;
  margin-left: 2vw;
  width: 4.9vw;
  height: 4.9vh;
}

.scroll_web_series button {
  margin-top: 26vh;
  margin-left: 2vw;
  width: 4.9vw;
  height: 4.9vh;
}

.scroll_games_and_resources button {
  margin-top: 3.2vh;
  margin-left: 3vw;
  width: 4.9vw;
  height: 4.9vh;
}

.anime_btn {
  border-style: solid;
  font-size: 1.8vh;
  border-width: 1.5px;
  border-color: azure;
  border-radius: 5px;
  color: azure;
  background: linear-gradient(320deg, rgb(163, 163, 163) 60%, black 60%);
  position: static;
  z-index: 10;
}
.movie_btn {
  border-style: solid;
  font-size: 1.8vh;
  border-width: 1.5px;
  border-color: azure;
  border-radius: 5px;
  color: azure;
  background: linear-gradient(320deg, rgb(163, 163, 163) 60%, black 60%);
}
.web_btn {
  border-style: solid;
  font-size: 1.8vh;
  border-width: 1.5px;
  border-color: azure;
  border-radius: 5px;
  color: azure;
  background: linear-gradient(320deg, rgb(163, 163, 163) 60%, black 60%);
}
.game_btn {
  border-style: solid;
  font-size: 1.8vh;
  border-width: 1.5px;
  border-color: azure;
  border-radius: 5px;
  color: azure;
  background: linear-gradient(320deg, rgb(163, 163, 163) 60%, black 60%);
}

/*keyframes for different tabs*/
@keyframes scroll_bitch_down_1 {
  from {
    opacity: 0;
    margin-top: -24vh;
  }

  to {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes scroll_bitch_down_2 {
  from {
    opacity: 0.5;
    transform: scaleY(0);
    transform: scaleX(0);
  }

  to {
    opacity: 1;
    transform: scaleY(1);
    transform: scaleX(1);
  }
}

@keyframes scroll_bitch_down_3 {
  from {
    opacity: 0;
    margin-top: -12vh;
  }

  to {
    opacity: 1;
    margin-bottom: 0px;
  }
}

/*keyframes for showing the content boxes*/
@keyframes scroll_content1and2 {
  from {
    opacity: 0;
    margin-left: 30vw;
  }

  to {
    opacity: 1;
    margin-left: 58.6vw;
  }
}
@keyframes scroll_content3and4 {
  from {
    opacity: 0;
    margin-left: 35vw;
  }

  to {
    opacity: 1;
    margin-right: 0px;
  }
}

/*designing the click here content*/
.anime_content {
  width: 32vw;
  height: 40vh;
  margin-left: 58.6vw;
  margin-top: -25vh;
  border-radius: 2%;
  display: none;
  color: white;
  background-color: #111111;
}

.movie_content {
  width: 32vw;
  height: 40vh;
  margin-left: 58.6vw;
  margin-top: -25vh;
  background-color: #111111;
  border-radius: 2%;
  display: none;
}

.webseries_content {
  width: 32vw;
  height: 40vh;
  background-color: #111111;
  margin-left: 8vw;
  margin-top: -25vh;
  border-radius: 2%;
  display: none;
}

.games_content {
  width: 32vw;
  height: 40vh;
  background-color: #111111;
  margin-left: 8vw;
  margin-top: -25vh;
  border-radius: 2%;
  display: none;
}

/**************locomotive****************/

.section {
  margin: 50vh 0;
}

html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}

.c-scrollbar:hover {
  transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}

[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}

/*styling inner contents of content box*/
.inner_anime_content {
  display: flex;
  flex-direction: column;
}
.inner_movie_content {
  display: flex;
  flex-direction: column;
}
.inner_webseries_content {
  display: flex;
  flex-direction: column;
}
.inner_games_content {
  display: flex;
  flex-direction: column;
  margin-top: 2.9vh;
  font-size: 4vh;
  color: #bd07b4;
  margin-left: 2vw;
}
.inner_software_content {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  font-size: 4vh;
  color: #bd07b4;
}
.inner_anime_content a {
  margin-top: 4vh;
  margin-left: 2vw;
}
.inner_movie_content a {
  margin-top: 4vh;
  margin-left: 4vw;
}
.inner_webseries_content a {
  margin-top: 1.8vh;
  margin-left: 2.8vw;
  font-size: 4vh;
  padding: 0.6vh;
}
.inner_games_content a {
  margin-top: 4vh;
  margin-left: 1vw;
  font-size: 3.8vh;
}
.inner_software_content a {
  margin-top: 4vh;
  margin-left: 1vw;
  font-size: 3.8vh;
}



/**************scroll instructions****************/
.scroll_instructions{
  display: flex;
  width: 7.5vw;
  height: 5vh;
  background-color: black;
  align-items: center;
  justify-content: center;
}
.scroll2{
  margin-left: .2vw;
}
