body {
  background-color: #202123;
  color: #D3D3D3;
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0%;
  margin-top: 5vh;
  margin-left: 10vw;
  font-family: 'Maven Pro', sans-serif;
}

/*******************styling the extra topics section**************************/

.extra {
  flex-direction: column;
  width: 20vw;
  margin: 3vh 15vw;
  display: flex;
  align-items: center;
}

.extra ul li {
  list-style: none;
  margin: 10vh 0;
}

.extra ul li a {
  text-decoration: none;
  color: #D3D3D3;
  font-size: 28px;
  transition-duration: 430ms;
}

.extra ul li a:hover {
  color: #BB86FC;
  margin-left: 25px;
}

.extra-image{
  height: 39vh;
  border-radius: 12px 12px 0 0;
}

/*****rotating the extra section*****/

.flip-box-inner {
  position: relative;
  width: 120%;
  height: 86%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.extra:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 120%;
  height: 120%;
  backface-visibility: hidden;
  border-radius: 20px;
}

/* Style the front side */
.flip-box-front {
  background-color: #121212;
  color: #BB86FC;
}

.flip-box-front h3 {
  padding-top: 10px;
  text-align: center;
  color: #BB86FC;
  font-size: 40px;
}

/* Style the back side */
.flip-box-back {
  background-color: #121212;
  color: #BB86FC;
  transform: rotateY(180deg);
}


/*******************STYLING THE HOT TOPICS SECTION************************/

.hot-topics {
  display: flex;
  flex-direction: row;
}

/*Removing the hyperlink text formatting*/
.hot-topics a {
  text-decoration: none;
  color: #D3D3D3;
  font-size: 3vh;
  padding: 1vh 1vw;
  text-align: center;
  font-weight: bold;
  transition-duration: 250ms;
  word-wrap: normal;
  text-align: left;
}

/*hovering animation of sticky notes*/

.hot-topics a:hover {
  color: #BB86FC;
  font-size: 3vh;
}

/**STYLING STICKY TAGS**/
.sticky_1 {
  display: flex;
  flex-direction: column;
  height: 22vh;
  border-radius:5px;
  margin: 22px 22px;
  background-color: #202123;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.41);
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.41);
}

.sticky_2 {
  display: flex;
  flex-direction: column;
  height: 22vh;
  border-radius:5px;
  margin: 22px 22px;
  background-color: #202123;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.41);
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.41);
}

.sticky_3 {
  display: flex;
  flex-direction: column;
  height: 22vh;
  border-radius:5px;
  margin: 22px 22px;
  background-color: #202123;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.41);
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.41);
}

.sticky_4 {
  display: flex;
  flex-direction: column;
  height: 22vh;
  border-radius:5px;
  margin: 22px 22px;
  background-color: #202123;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.41);
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.41);
}

.sticky_5 {
  display: flex;
  flex-direction: column;
  height: 22vh;
  border-radius:5px;
  margin: 22px 22px;
  background-color: #202123;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.41);
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.41);
}

.sticky_6 {
  display: flex;
  flex-direction: column;
  height: 22vh;
  border-radius:5px;
  margin: 22px 22px;
  background-color: #202123;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.41);
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.41);
}

.card-image {
  height: 16.6vh;
}


/************ENTERTAINMENT PAGE LINK************/
.entertainment_link {
  color: #373737;
  background-color: #121212;
  margin: 0 22px;
  border-radius: 5px;
  width: 15vw;
  display: flex;
  flex-direction: column;
  height: 6vh;
  justify-content: center;
  align-items: center;

}

/* .entertainment_link :hover{
  width:8vw;
  height: 5vh;
} */

.entertainment_link p {
  margin-left: 4px;
  margin-right: 4px;
}

.entertainment_link a {
  text-decoration: none;
  color: #BB86FC;
  transition-duration: 600ms;
}

.entertainment_link a:hover {
  font-size: 16px;
}
