<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css\index.css">
    <title>Buy in pool</title>
</head>

<body>
    <div class="netflix_display">
        <div class="enter_part">
            <div class="title"><a href="#">Netflix</a></div>
            <div class="sharing_number">
                <p>Enter Number of shared account number you want to see details of</p>
                <button onclick="netflix1()">1</button>
                <button onclick="netflix2()">2</button>
                <button onclick="netflix3()">3</button>
                <button onclick="netflix4()">4</button>
            </div>
        </div>
        <div class="display_info">
            <% netflixListItems.forEach(function(item){ %>
                    <p>
                      Name: <%=netflixListItems.name%>
                      EmailID: <%=netflixListItems.email%>
                    </p>
                <% }) %>
        </div>
    </div>

    <div class="customer_add">
        <p>
            Enter your details to add your information
        </p>
        <form class="item" action="/" method="post">
            <input type="text" name="userName" placeholder="Your Name" autocomplete="off" required>
            <input type="text" name="platformName" placeholder="Platform Name" autocomplete="off" required>
            <input type="email" name="emailID" placeholder="Email ID" autocomplete="off" required>
            <input type="number" name="numberOfShared" placeholder="Shared Accounts" autocomplete="off" required>
            <button type="submit" name="list">+</button>
          </form>
    </div>

</body>
</html>